@model Bohrium.Tools.BDDManagementTool.WebApp.ViewModels.BaseSearchResultViewModel
@*
<div class="panel-footer clearfix">
    <div class="pull-right">
        <a href="#" class="btn btn-default" data-val="@Model.Id">Details</a>
    </div>
</div>
*@